.form-wrapper
  .form-title Sign In
  = form_for(@user, url: session_path(resource_name)) do |f|
    .form-item
      = f.email_field :email, autofocus: true, placeholder: 'EMAIL'
      
    .form-item
      = f.password_field :password, autocomplete: "off", placeholder: 'PASSWORD'
      
    .button-panel
      = f.submit 'SIGN IN', class: 'button'
      
  .form-footer
    %p
      %a{:href => "#"} Create an account
    %p
      %a{:href => "#"} Forgot password?

